.titre{
  font-size: 22px;
  display: flex;
  justify-content: center;
  width: 74%;
  border-radius: 12px;
  height: 50px;
  background-color: #E59E0E;
  margin:0 auto;
  color: #FFFFFF;
  padding: 10 10px;
}

.recherche{
  width: 100%;
  display: flex;
  justify-content: end;
}
.container{
  width: 100%;
}

.bag{ background-color: #E59E0E;
}

p{
  display: flex;
  justify-content: center;
}
