<div class="wrapper">
  <div class="container main">
      <div class="row" style="background-color: #E59E0E;">
          <div class="col-md-12 right">
               <div class="input-box">
                  <header class="shadow" style="font-size: 30px; color: #FFFFFF; border: solid 2px #FFFFFF; border-radius: 10px;">Heures</header><br>
                  <form>
                      <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" style="color: #FFFFFF;">Première Heure<span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example">
                          <option selected> </option>
                          <option value="1">09h00</option>
                          <option value="2">08h00</option>
                          <option value="3">10h00</option>
                        </select>
                      </div><br>

                      <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" style="color: #FFFFFF;">Deuxième Heure<span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example">
                          <option selected> </option>
                          <option value="1">14h00</option>
                          <option value="2">15h00</option>
                          <option value="3">16h00</option>
                        </select>
                      </div><br>

                      <div class="form-group col-md-12">
                        <label for="exampleInputPassword1" style="color: #FFFFFF;">troisième Heure<span class="text-danger">*</span></label>
                        <select class="form-select" aria-label="Default select example">
                          <option selected> </option>
                          <option value="1">19h00</option>
                          <option value="2">20h00</option>
                          <option value="3">21h00</option>
                        </select>
                      </div><br>
                      <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>
                    </form>

                  </div>
               </div>
          </div>
      </div>
  </div>

  

