<div class="container">
  <p style="font-size: xx-large;">
    Le poulailler automatisé proposé a une capacité de 200 poulets et mesure environ
    5 mètres de longueur, 3 mètres de largeur et 8 mètres de hauteur.
    Il est équipé d'un système de distribution de nourriture et d'eau automatisé,
    d'un système d'éclairage automatique, d'un système de contrôle de la température
    et d'un système de contrôle de la porte automatique. Ce poulailler offre un environnement sûr,
    confortable et automatisé pour les poulets, tout en simplifiant la tâche de l'agriculteur
    et en garantissant une production d'œufs de qualité supérieure.
  </p>
</div>
