<div class="login-page bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="bg-white shadow rounded">
          <div class="row">
            <div class="col-6 side-image">
            </div>
            <div class="col-6">
              <div class="form-left py-5 px-5 global">
                <form class="row_ w-100" id="form" (submit)="onSubmit()" [formGroup]="registerForm">
                  <h1 style="text-align: center;margin-bottom: 50px;">Connection</h1>

                  <div class="text text-danger" style="font-size: large; text-align: center;"> <p>{{msg}}</p> </div>

                  <div class="col-md-12 mb-3">
                    <label>Email<span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="email" name="email" type="text" id="email" name="email"
                        [ngClass]="{'':submitted && registerForm.controls['email'].errors}" placeholder=""
                        formControlName="email" type="email" id="email" name="email" required autocomplete="off">
                      <div *ngIf="registerForm.controls['email'].dirty && registerForm.controls['email'].errors"
                        class="text-danger">
                        <div *ngIf="registerForm.controls['email'].errors ['required']">
                          Ce champ est require
                        </div>
                        <div *ngIf="registerForm.controls['email'].errors['email']">
                          Adresse email incorrect
                        </div>
                      </div>
                  </div><br>

                      <div class="col-md-12 mb-3">
                        <label>Mot de passe<span class="text-danger">*</span></label>
                          <input type="text" class="form-control" id="password" name="password" type="text" id="password"
                            [ngClass]="{'':submitted && registerForm.controls['password'].errors}"
                            placeholder="" formControlName="password" type="password" required>
                          <div
                            *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors"
                            class="text-danger">
                            <div
                              *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors['required']">
                              Ce champ est requis
                            </div>
                            <div
                              *ngIf="!registerForm.controls['password'].errors['required'] && registerForm.controls['password'].errors['minlength']">
                              Password minimun 6 caractères
                            </div>
                          </div>
                      </div><br>

                         <div class="pb-5 col-md-12">
                          <button type="submit" class="btn btn-primary px-4 float-end mt-4 submit ">Se connecter
                            <span class="visually" *ngIf="!spin"></span>
                            <span class="spinner-border spinner-border-sm" *ngIf="spin" role="status" aria-hidden="false"
                            style="color: white;"></span>
                          </button>
                        </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

