<div class="header">
  <div class=" p-4  w-100  d-flex justify-content-around">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-info-circle"
      viewBox="0 0 16 16" role="button">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path
        d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-geo-alt"
      viewBox="0 0 16 16" role="button">
      <path
        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
    </svg>


<a role="button" class="navbar-brand" data-bs-toggle="modal" href="#exampleModalPassword" role="button"
    data-toggle="tooltip" data-placement="top"
        title="Modifier votre mot de passe">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-repeat"
      viewBox="0 0 16 16" role="button">
      <path
        d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z" />
      <path fill-rule="evenodd"
        d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z" />
    </svg>
</a>


    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-box-arrow-right"
      viewBox="0 0 16 16" role="button">
      <path fill-rule="evenodd"
        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
      <path fill-rule="evenodd"
        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
    </svg>
  </div>
</div>

<div class="d-flex">
  <div class="sidebar">
    <div class="list-group list-group-flush mx-3 mt-2 p-4">
      <img src="../../../assets/Rectangle 12.jpg" alt="" width="200" height="200" class="rounded-circle m-auto mb-2"
        title="logo">
    </div>

    <div class="list-group list-group-flush mx-3 mt-2 p-4">
      <img src="../../../assets/Accueil.svg" alt="" width="100" height="100" class="rounded-circle m-auto mb-2"
        title="Accueil" role="button">
    </div>

    <div class="list-group list-group-flush mx-3 mt-2 p-4">
      <img src="../../../assets/parametre.svg" alt="" width="100" height="100" class="rounded-circle m-auto mb-2"
        title="parametre" role="button">
    </div>

    <div class="list-group list-group-flush mx-3 mt-2 p-4">
      <img src="../../../assets/historique.svg" alt="" width="100" height="100" class="rounded-circle m-auto mb-2"
        title="historique" role="button">
    </div>

  </div>

  <!-- Dashboard-->

  <div class="w-100 d-flex justify-content-center">
    <app-dashboard></app-dashboard>
  </div>
</div>


<div class="modal modal-md fade" id="exampleModalPassword" aria-hidden="true" aria-labelledby="exampleModalPassword"
    tabindex="-1" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow">
            <div class="modal-header shadow" style="background-color: #E59E0E;">
                <h5 class="modal-title border text text-center shadow " id="exampleModalPassword" style="margin: 0 90px;padding: 5px; min-width: 300px; border-radius: 10px; color: #FFFFFF;">Modifier votre mot de passe</h5>
            </div>
            <div class="modal-body d-flex justify-content-center">
                &nbsp;
                <app-modif-password></app-modif-password>
            </div>
        </div>
    </div>
</div>
