<form (submit)="onSubmit()" [formGroup]="registerForm">
  <div *ngIf="!verifPass" class="w-100 d-flex justify-content-center text text-danger fix" id="">
    <span>les deux password ne correspondent pas!</span>
  </div>
  <div>
    <span>
      <p style="color:green; text-align: center;">{{msg}}</p>
    </span>
  </div>


  <!--  <div class="w-100 d-flex justify-content-center text text-danger fix" style="border: 1px solid red; background-color: yellow;" *ngIf="errorMessage">{{ errorMessage }}</div> -->

  <div class="form-group col-md-12">
    <label for="exampleInputPassword1">Actuel Mot de passe<span class="text-danger">*</span></label>
    <input type="password" class="form-control" id="password" name="password"
      [ngClass]="{'':submitted && registerForm.controls['password'].errors}" placeholder="" formControlName="password"
      type="password" required>

    <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors"
      class="text-danger">
      <div *ngIf="registerForm.controls['password'].dirty && registerForm.controls['password'].errors['required']">
        Ce champ est requis
      </div>
      <div
        *ngIf="!registerForm.controls['password'].errors['required'] && registerForm.controls['password'].errors['minlength']">
        Password minimun 6 caractères
      </div>
    </div>
  </div><br>

  <div class="form-group col-md-12">
    <label for="password1">Nouveau Mot de passe<span class="text-danger">*</span></label>
    <input type="password" class="form-control" id="password1" name="password1" type="password" id="password1"
      name="password" [ngClass]="{'':submitted && registerForm.controls['password1'].errors}" placeholder=""
      formControlName="password1" type="password" required>

    <div *ngIf="registerForm.controls['password1'].dirty && registerForm.controls['password1'].errors"
      class="text-danger">
      <div *ngIf="registerForm.controls['password1'].dirty && registerForm.controls['password1'].errors['required']">
        Ce champ est requis
      </div>
      <div
        *ngIf="!registerForm.controls['password1'].errors['required'] && registerForm.controls['password1'].errors['minlength']">
        Password minimun 6 caractères
      </div>
    </div>
  </div><br>

  <div class="form-group col-md-12">
    <label for="exampleInputPassword1">Confirmation<span class="text-danger">*</span></label>
    <input type="password" class="form-control" id="password2" name="password"
      [ngClass]="{'':submitted && registerForm.controls['password'].errors}" placeholder="" formControlName="password2"
      type="password" required #pass2 (change)="checkPassword()">
    <div *ngIf="registerForm.controls['password2'].dirty && registerForm.controls['password2'].errors"
      class="text-danger">
      <div *ngIf="registerForm.controls['password2'].dirty && registerForm.controls['password2'].errors['required']">
        Ce champ est requis
      </div>
      <div
        *ngIf="!registerForm.controls['password2'].errors['required'] && registerForm.controls['password2'].errors['minlength']">
        Password minimun 6 caractères
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary mt-4">Modifier</button><br>
  </div>
</form>
