/*  
.card {
    border: 4px solid #E59E0E;
  } */
  .blue-icon {
    
    filter: invert(50%) sepia(100%) saturate(10000%) hue-rotate(190deg);

  }
  .progress-bar {
    background-color: #ffffff;
    width: 50px;
    overflow: hidden;
    border: solid 3px #E59E0E;
    border-top: none;
  
  }
  
  .progress-bar-inner {
    width: 100%;
    transition: height 0.3s ease-in-out;
    
  }
  
  .progress-bar-text {
    color: #54609f;
    text-align: center;
    line-height: 50px;
  }
  
  .blue {
    background: blue;
  }


.progress-bar-inner {
  background-color: blue;
  transition: height 0.3s ease-in-out;
  margin-top: none;
}
.progress-bar {
  width: 200px;
  height: 100px; /* Hauteur totale de la barre de progression */
  overflow: hidden;
  position: relative;
}

.progress-bar-inner {
  background-color: blue;
  transition: height 0.3s ease-in-out;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

